<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FunctMetaLRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FunctMetaLRunner.Properties.Settings>
            <setting name="Variable" serializeAs="String">
                <value>&lt;Variable name="" value="" /&gt;</value>
            </setting>
            <setting name="Message" serializeAs="String">
                <value>&lt;Message text="" /&gt;</value>
            </setting>
            <setting name="Array" serializeAs="String">
                <value>&lt;Array name="arr"&gt;
  &lt;Item&gt;&lt;/Item&gt;
&lt;/Array&gt;                                </value>
            </setting>
            <setting name="Assert" serializeAs="String">
                <value>&lt;Assert actual="" expected="" condition="" /&gt;</value>
            </setting>
            <setting name="Break" serializeAs="String">
                <value>&lt;Break  /&gt;</value>
            </setting>
            <setting name="Switch" serializeAs="String">
                <value>&lt;Switch condition=""&gt;
  &lt;Case condition="" /&gt;
&lt;/Switch&gt;</value>
            </setting>
            <setting name="DoWhile" serializeAs="String">
                <value>&lt;DoWhile left="" condition="" right=""&gt;
&lt;/DoWhile&gt;</value>
            </setting>
            <setting name="While" serializeAs="String">
                <value>&lt;While left="" condition="" right=""&gt;
&lt;/While&gt;</value>
            </setting>
            <setting name="Eval" serializeAs="String">
                <value>&lt;Eval variable="" expression="++/--" /&gt;</value>
            </setting>
            <setting name="For" serializeAs="String">
                <value>&lt;For from="" to=""&gt;
&lt;/For&gt;</value>
            </setting>
            <setting name="ForEach" serializeAs="String">
                <value>&lt;ForEach array=""&gt;
&lt;/ForEach&gt;</value>
            </setting>
            <setting name="IfElse" serializeAs="String">
                <value>&lt;If test=""&gt;
&lt;/If&gt;
&lt;Else&gt;
&lt;/Else&gt;</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>&lt;!-- --&gt;</value>
            </setting>
            <setting name="Import" serializeAs="String">
                <value>&lt;Import dll=""' /&gt;</value>
            </setting>
            <setting name="Plugin" serializeAs="String">
                <value>&lt;Plugin name=""&gt;
  &lt;Method name="" type="" out=""&gt;
    &lt;Param&gt;&lt;/Param&gt;
  &lt;/Method&gt;
&lt;/Plugin&gt;</value>
            </setting>
            <setting name="Process" serializeAs="String">
                <value>&lt;Process name="" output="" error="" timeout=""&gt;
  &lt;Arguments&gt;
    &lt;Argument /&gt;
  &lt;/Arguments&gt;
&lt;/Process&gt;</value>
            </setting>
        </FunctMetaLRunner.Properties.Settings>
    </applicationSettings>
</configuration>